In [1]:
import numpy as np
import pandas as pd

In [2]:
open_price = pd.read_csv('Open_Close/Close_new.csv')
open_price

,Date,AAPL,CSCO,UAL,TROW,ISRG,NVR,TPR,DVN,CE,...,CRM,PGR,WAT,IEX,BWA,LRCX,NWL,UAA,BLK,PPL
0,1990-01-02,0.266084,NaN,NaN,0.928819,NaN,4.944816,NaN,4.601492,NaN,...,NaN,0.568438,NaN,2.193261,NaN,1.108421,4.907605,NaN,NaN,1.849706
1,1990-01-03,0.267870,NaN,NaN,0.944300,NaN,4.944816,NaN,4.688312,NaN,...,NaN,0.572129,NaN,2.193261,NaN,1.083789,4.882041,NaN,NaN,1.855081
2,1990-01-04,0.268764,NaN,NaN,0.967520,NaN,5.065421,NaN,4.688312,NaN,...,NaN,0.568438,NaN,2.128752,NaN,0.985263,4.856483,NaN,NaN,1.838952
3,1990-01-05,0.269656,NaN,NaN,0.959780,NaN,5.186026,NaN,4.601492,NaN,...,NaN,0.570284,NaN,2.112624,NaN,0.985263,4.856483,NaN,NaN,1.822820
4,1990-01-08,0.271442,NaN,NaN,0.967520,NaN,5.186026,NaN,4.471262,NaN,...,NaN,0.572129,NaN,2.144881,NaN,0.985263,4.882041,NaN,NaN,1.801312
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7807,2020-12-24,130.994522,42.725090,43.259998,141.509048,269.000000,4216.390137,30.278809,14.196900,126.906303,...,225.779999,91.907822,247.089996,194.159821,38.230774,474.480408,20.252468,17.410000,688.918579,25.199877
7808,2020-12-28,135.679642,43.089600,43.919998,141.299088,268.386658,4156.600098,30.288624,14.215422,124.873459,...,224.639999,91.730194,247.039993,193.517792,38.505539,470.292145,20.271555,17.270000,691.841125,25.537251
7809,2020-12-29,133.873077,42.821007,43.740002,141.604492,271.356659,4126.819824,29.552511,14.178378,124.619354,...,222.460007,91.328201,245.869995,192.846069,37.828453,467.447266,20.023411,16.870001,688.041870,25.584108
7810,2020-12-30,132.731583,42.667534,44.650002,142.749695,271.766663,4127.660156,30.867699,14.947029,126.661964,...,222.399994,91.066444,245.559998,194.228973,38.456470,478.540283,20.118849,17.450001,690.633118,25.855881
7811,2020-12-31,131.709213,42.926537,43.250000,144.477051,272.700012,4079.860107,30.504549,14.641422,126.994270,...,222.529999,92.440697,247.419998,196.767593,37.916771,466.508820,20.262011,17.170000,702.907715,26.427540

In [3]:
date_end = ['1993-12-31','1994-12-30','1995-12-29','1996-12-31','1997-12-31','1998-12-31','1999-12-31','2000-12-29'
           ,'2001-12-31','2002-12-31','2003-12-31','2004-12-31','2005-12-30','2006-12-29','2007-12-31','2008-12-31'
           ,'2009-12-31','2010-12-31','2011-12-30','2012-12-31','2013-12-31','2014-12-31','2015-12-31','2016-12-30'
           ,'2017-12-29','2018-12-31']

date_start = ['1990-01-02','1991-01-02','1992-01-02','1993-01-04','1994-01-03','1995-01-03','1996-01-02','1997-01-02'
             ,'1998-01-02','1999-01-04','2000-01-03','2001-01-02','2002-01-02','2003-01-02','2004-01-02','2005-01-03'
             ,'2006-01-03','2007-01-03','2008-01-02','2009-01-02','2010-01-04','2011-01-03','2012-01-03','2013-01-02'
             ,'2014-01-02','2015-01-02']
# len(date_end)
# len(date_start)

# index1 = open_price.loc[open_price.Date == date_start[1]].index
# index2 = open_price.loc[open_price.Date == date_end[1]].index
# index1[0]
# index2[0]

# new_open = open_price.iloc[index1[0]:index2[0]+1,:]
# new_open.to_csv('Open_Close/Open_'+date_start[1][:4]+'.csv',index = False)

In [4]:
for i in range(0,26):
    index1 = open_price.loc[open_price.Date == date_start[i]].index
    index2 = open_price.loc[open_price.Date == date_end[i]].index
    new_open = open_price.iloc[index1[0]:index2[0]+1,:]
    new_open.to_csv('Open_Close/Close-'+date_start[i][:4]+'.csv',index = False)