In [1]:
import numpy as np
import pandas as pd

In [9]:
open_price = pd.read_csv('Open_Close/Open_new.csv')
open_price

,Date,AAPL,CSCO,UAL,TROW,ISRG,NVR,TPR,DVN,CE,...,CRM,PGR,WAT,IEX,BWA,LRCX,NWL,UAA,BLK,PPL
0,1990-01-02,0.251798,NaN,NaN,0.921079,NaN,4.824210,NaN,0.000000,NaN,...,NaN,0.564747,NaN,2.177134,NaN,0.000000,4.524198,NaN,NaN,1.844329
1,1990-01-03,0.271442,NaN,NaN,0.936560,NaN,4.944816,NaN,0.000000,NaN,...,NaN,0.570284,NaN,2.209388,NaN,0.000000,4.856481,NaN,NaN,1.860459
2,1990-01-04,0.273228,NaN,NaN,0.944300,NaN,4.824211,NaN,0.000000,NaN,...,NaN,0.568438,NaN,2.177133,NaN,0.000000,4.882043,NaN,NaN,1.849706
3,1990-01-05,0.269656,NaN,NaN,0.952040,NaN,5.065421,NaN,0.000000,NaN,...,NaN,0.568438,NaN,2.112624,NaN,0.000000,4.830923,NaN,NaN,1.833574
4,1990-01-08,0.267870,NaN,NaN,0.959780,NaN,4.944816,NaN,0.000000,NaN,...,NaN,0.568437,NaN,2.080372,NaN,0.000000,4.805360,NaN,NaN,1.812066
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7807,2020-12-24,130.349333,42.638757,44.400002,142.072104,270.236664,4128.000000,30.435846,14.521031,125.889872,...,228.300003,91.057087,247.520004,192.520087,38.858794,467.901648,20.262012,17.420000,685.197215,25.068677
7808,2020-12-28,132.999602,43.099194,44.040001,142.110280,272.736664,4262.919922,30.435846,14.354334,127.688167,...,227.220001,92.291119,249.539993,195.088373,38.584040,479.656481,20.357452,17.420000,696.137280,25.340451
7809,2020-12-29,137.029580,43.137562,44.450001,142.177086,270.790009,4169.930176,30.229734,14.354334,125.547822,...,224.970001,92.076099,247.889999,194.031413,38.750861,469.857503,20.328820,17.070000,695.309194,25.612223
7810,2020-12-30,134.577835,42.916941,43.639999,142.100738,273.329987,4130.020020,30.053066,14.178379,124.648660,...,223.130005,91.889134,246.539993,193.814104,37.916766,472.534435,19.861159,17.010000,694.880516,25.509136
7811,2020-12-31,133.088938,42.571614,44.410000,142.778332,271.839996,4140.859863,30.622328,14.808117,126.876995,...,222.270004,91.449729,244.710007,194.485803,38.574232,476.416464,20.147483,17.389999,689.210787,25.827765

In [10]:
date_end = ['1993-12-31','1994-12-30','1995-12-29','1996-12-31','1997-12-31','1998-12-31','1999-12-31','2000-12-29'
           ,'2001-12-31','2002-12-31','2003-12-31','2004-12-31','2005-12-30','2006-12-29','2007-12-31','2008-12-31'
           ,'2009-12-31','2010-12-31','2011-12-30','2012-12-31','2013-12-31','2014-12-31','2015-12-31','2016-12-30'
           ,'2017-12-29','2018-12-31','2019-12-31']

date_start = ['1990-01-02','1991-01-02','1992-01-02','1993-01-04','1994-01-03','1995-01-03','1996-01-02','1997-01-02'
             ,'1998-01-02','1999-01-04','2000-01-03','2001-01-02','2002-01-02','2003-01-02','2004-01-02','2005-01-03'
             ,'2006-01-03','2007-01-03','2008-01-02','2009-01-02','2010-01-04','2011-01-03','2012-01-03','2013-01-02'
             ,'2014-01-02','2015-01-02','2016-01-04']
# len(date_end)
# len(date_start)
# date_start[26]


index1 = open_price.loc[open_price.Date == date_start[26]].index
index2 = open_price.loc[open_price.Date == date_end[26]].index
# index1[0]
# index2[0]

new_open = open_price.iloc[index1[0]:index2[0]+1,:]
new_open.to_csv('Open_Close/Open-'+date_start[26][:4]+'.csv',index = False)

In [4]:
for i in range(0,26):
    index1 = open_price.loc[open_price.Date == date_start[i]].index
    index2 = open_price.loc[open_price.Date == date_end[i]].index
    new_open = open_price.iloc[index1[0]:index2[0]+1,:]
    new_open.to_csv('Open_Close/Close-'+date_start[i][:4]+'.csv',index = False)