In [2]:
import numpy as np
import pandas as pd

In [51]:
LS_data = pd.DataFrame([])
for ret_year in range(1993,2020):  
    ret = pd.read_csv('results-Intraday-240-3-LSTM/avg_daily_rets-'+str(ret_year)+'.csv')
    LS = ret.mean()
    print(LS)
    LS = pd.Series(LS,name = str(ret_year))
    LS_data = LS_data.append(LS)

Long     0.012272
Short    0.012578
dtype: float64
Long     0.013923
Short    0.011620
dtype: float64
Long     0.013761
Short    0.008437
dtype: float64
Long     0.009384
Short    0.008895
dtype: float64
Long     0.010178
Short    0.007736
dtype: float64
Long     0.009899
Short    0.006654
dtype: float64
Long     0.008462
Short    0.005963
dtype: float64
Long     0.009474
Short    0.006551
dtype: float64
Long     0.010528
Short    0.002348
dtype: float64
Long     0.006574
Short    0.007392
dtype: float64
Long     0.008077
Short    0.001330
dtype: float64
Long     0.005679
Short    0.003633
dtype: float64
Long     0.003954
Short    0.002099
dtype: float64
Long     0.004427
Short    0.001694
dtype: float64
Long     0.005868
Short    0.002990
dtype: float64
Long     0.005929
Short    0.004657
dtype: float64
Long     0.006710
Short    0.003297
dtype: float64
Long     0.004198
Short    0.001911
dtype: float64
Long     0.002237
Short    0.002284
dtype: float64
Long     0.003489
Short    0.000717
dtype: float64
Long     0.003788
Short    0.000655
dtype: float64
Long     0.003193
Short    0.002592
dtype: float64
Long     0.002252
Short    0.001333
dtype: float64
Long     0.002577
Short    0.001085
dtype: float64
Long     0.001033
Short    0.000956
dtype: float64
Long     0.00132
Short    0.00123
dtype: float64
Long     0.000987
Short   -0.000941
dtype: float64

In [ ]:
LS_data_1 = pd.DataFrame([])
for ret_year in range(1993,2020):  
    ret = pd.read_csv('results-Intraday-240-1-LSTM/avg_daily_rets-'+str(ret_year)+'.csv')
    LS = ret.mean()
    print(LS)
    LS = pd.Series(LS,name = str(ret_year))
    LS_data_1 = LS_data_1.append(LS)

In [50]:
LS_data.mean()

Long     0.006303
Short    0.004063
dtype: float64

In [41]:
# LS = ret.mean()
# LS = pd.Series(LS,name = '1993')
# LS_data = pd.DataFrame([])
# LS_data = LS_data.append(LS)
# LS_data

          Long     Short
1993  0.012272  0.012578